.section {
    margin-top: 56px;
    margin-bottom: 56px;
}

.linkToMain {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    font-weight: 700;

    & img {
        transform: rotate(180deg);
    }
}

.contentWrap {
    margin: 40px 0;
    display: flex;
    gap: 40px;
}

.img {
    flex-shrink: 0;
    width: 40vw;
    height: auto;
    max-height: 40vw;
    border-radius: 10px;
}

.flexWrap {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.infoBlock {
    padding: 12px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.ingrWrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.linkToYoutube {
    margin: 24px 0;

    a {
        text-decoration: underline;
    }
}

.tag {
    padding: 12px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--main-text-color);
    color: var(--white-color);
}
